<div class="jumbotron">
  <h1>LukAgenda</h1>
  <p>
    Ainda é inútil, mas to aprendendo!
  </p>
  <p>
    <%= link_to 'Crie Sua Conta', new_user_path , class: 'btn btn-primary btn-lg' %>
  </p>
</div>